/* .report-submission {

  max-width: 377px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #10446481;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    

  }

  .h1{
    text-align: center;
  }

 

  .form-group {

    margin-bottom: -6px;

    width: 340px;

  }

 

  label {

    display: block;

    margin-bottom: 5px;

    font-weight: bold;

  }

 

  input[type="text"],

  textarea {

    width: 90%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 3px;

    width: 338px
  }

 

  .error {

    color: red;

    font-size: 12px;

    margin-top: 5px;

  }

 

  button {

    background-color: #007bff;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 3px;

    cursor: pointer;

  }

 

  button:hover {

    background-color: #0056b3;

  }

  #btn{
    
    margin-left: 7.5rem;
    margin-bottom: 0rem;
  }

   */
   
   .formcontainer {

    max-width: 600px;
    margin: 18px auto;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 28px;
    padding-bottom: 50px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
  }
  
   
  
  .reph1,
  
  .reph2,
  
  .reph3,
  
  .reph4,
  
  .reph5,
  
  .reph6 {
  
    margin: 15px 0;
  
    color: #000;
  
  }

  
   
  
  .select1,
  
  #input1 {
  
    width: 100%;
  
    padding: 10px;
  
    border: 1px solid #ccc;
  
    border-radius: 3px;
  
    background-color: #fff;
  
    color: #000;
  
   
  
  }
  
   
  
  /* .select1 {
  
    margin-top: 5px;
  
  } */
  
   
  
  #input1 {
  
    margin-left: -264px;
  
    background-color: #fff;
  
    color: #000;
  
    width: fit-content;
  
    margin-left: 19px;
  
  }
  
   
  
  #txt1,
  
  #txt2,
  
  #txt3 {
  
    width: 100%;
  
    padding: 10px;
  
    border: 1px solid #ccc;
  
    border-radius: 3px;
  
    background-color: #fff;
  
    color: #000;
  
    margin-top: 5px;
  
  }
  
   
  
  /* #txt2 {
  
    display: none;
  
  } */
  
   
  
  .error {
  
    color: red;
  
    font-size: 12px;
  
    margin-top: 5px;
  
  }
  
   
  
  button {
  
    background-color: #007bff;
  
    color: #c96060eb;
  
    padding: 10px 20px;
  
    border: none;
  
    border-radius: 3px;
  
    cursor: pointer;
  
    width: 100%;
  
    margin-top: 12px;
  
  }
  
   
  
  button:hover {
  
    background-color: #0056b3;
  
  }
  
   
  
  #formreport{
  
    margin-left: 10%;
  
    border: solid black;
  
    margin-top: 60px;
  
    padding: 20px;
  
    display: flex;
  
    flex-direction: column;
  
    width: 438px;
  
   
  
  }
  
   